body{
    background-color: white;
}
.jumbotron{
    margin-top: 30px;
    background-image: url("https://cdn.pixabay.com/photo/2016/03/09/09/28/bear-1245807__340.jpg");
    background-size: cover;
    color: whitesmoke;
    
}

.myContainer{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: center;
    border: 2px solid red;
    /* position: relative; */
     
}
img#detailImg{ 
    border-bottom: 2px solid red;  
    object-fit: cover;
}
#headerId{
    background-color: rgb(46, 44, 39);
    margin-bottom: 0;
    color: white;
}
#tally{
    position: absolute;
  bottom: 8px;
  left: 116px;

}
.name{
    text-align: center;
}
.container{
    margin-top: 30px;
}
span{
    color: darkorange;
}
h1{
    color: firebrick;
}
.Gold{
    background-color: gold;
    border-radius: 20px;
}
.Silver{
    background-color: silver;
    border-radius: 20px;
}
.Bronze{
    background-color: brown;
    border-radius: 20px;
}